#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.article {
  padding: 0 1.5em;
  color: black;
  display: flex;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  background-color: #f5f5f5;
  transition: 300ms linear all;
  overflow: hidden;

  width: 80vw;
  margin-bottom: 30px;
}

.data {
  justify-content: center;
  padding: 0 10px;
  width: 80vw;
  overflow: hidden;
  display: flex;
  transition: 300ms linear all;
}
.box {
  border-top: 3px solid green;
}
.box p:nth-child(1) {
  color: green;
}
.item-box {
  padding: 0 30px;
  text-align: justify;
  transition: 300ms linear all;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  bottom: 0;
  margin-bottom: 10px;
  /* text-align: justify; */
}

.num,
.text {
  font-size: 2em;

  flex-grow: 1;
}
.num {
  color: #888;
}
.icon {
  text-align: right;
  flex-grow: 8;
  cursor: pointer;
  font-size: 2em;
}
.read-the-docs {
  color: #888;
}
